*{
margin: 0;
}

h1, h2, h3, h4{
color:#162521;
margin: 20px 15px;    
}

#description{
margin: 50px 250px 300px;
min-width: 250px;
text-align: center;
line-height: 1.5em;
font-size: 16px;
}

.floor{
background-color: #785964;
}

a{
text-align: center;
margin-left: 20px;
text-decoration: none;
color: #162521;
}

.profile{
padding: -10%;
background-color: #C2FFEA;
}

.profile h1{ 
margin: 0;
text-align:center;
font-family:'Times New Roman', Times, serif;
font-style: italic;

}
.profile img{
margin:110px 20px;
border-radius:50px 50px;
position: absolute;
}

body{
background-color: #EFEAE6;
color:#162521;
}

.mySkills{
margin-left: 25px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.5em;
}