@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(39, 37, 37);
}

.link-start {
  margin-left: 50%;
}

.link-item {
  color: aliceblue;
}

.link-item:hover {
  transition-duration: 1000ms;
  background-color: rgba(255, 255, 255, 0.391);
  padding: 12px;
}